/*Universal style*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header style*/
.header {
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    height: 120vh;
}

.navstyle1 {
    color: white;
    text-align: right;
    border-bottom: 50px;
}

h1.title {
    font-size: 50px;
    padding-top: 100px;
    padding-right: 50px;
}

p.description {
    font-size: 20px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.contact {
    color: #005FAC;
    font-weight: 800;
    font-size: 20px;
    padding: 15px 25px;
    margin-right: 50px;
    border-radius: 5px;
    border-color: white;
}

/*Main style*/
.secstyle {
    display: flex;
    width: 70%;
    margin: auto;
}

.navstyle2 {
    padding: 20px;
    text-align: left;
    margin: auto;
}

.title2 {
    color: #151414;
    font-size: 35px;
    padding-bottom: 10px;
}

.description2 {
    color: #444343;
    font-size: 15px;
    padding-bottom: 10px;
}

ul {
    color: #444343;
    font-size: 17px;
    padding-left: 14px;
}

.plans-title {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.navstyle3 {
    width: 38%;
    margin: auto;

}

.plan {
    padding-right: 10px;
}

.plans {
    display: flex;
    gap: 10px;
}

.plan-title {
    font-weight: 700;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.plan-description {
    color: #757575;
}

.secstyle2 {
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    height: 45vh;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.navstyle4 {
    padding: 80px 0px 80px 50px;
}

h3.positive {
    font-weight: 700;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

.call {
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border-color: #005FAC;
}

/*Footer style*/
.bgfooter {
    background-color: black;
}

.foot-sec {
    color: white;
    display: flex;
    justify-content: space-between;
}

.div1 {
    padding: 80px 0px 80px 50px;
}

.div2 {
    padding: 80px 50px 80px 0px;
}

.div1-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}

.div1-description {
    margin-bottom: 15px;
}

.email {
    margin-bottom: 15px;
}

.phone {
    margin-bottom: 15px;
}

.spangap {
    padding: 5px;
}

.subscribe {
    margin-bottom: 15px;
}

.form {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btncolor {

    background-color: #005FAC;
    color: white;
}